body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #EFF1FA;
    font-family: 'Inter', sans-serif;
}


.logo-alura {
    display: flex;
    position: absolute;
    top: 40px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 300px;
    position: relative;

}


/* Digite seu texto */
.main-input {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    position: relative;
    width: 250px;
    height: 48px;


    color: #0A3871;
}

.main-input textarea {
    background: #EFF1FA;
    color: #0A3871;
    border: none;
    outline: none;
    overflow: auto;
    resize: none;
    margin-top: 15px;
    font-size: 24px;
}


.main-input img {

    display: inline-block;

}



.card {
    position: relative;
    display: inline-block;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 400px;
    height: 900px;
    margin-top: 30px;


    background: #FFFFFF;
 

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}


.texto-resultado {

    position: relative;
    color: #0A3871;
 
    border: none;
    outline: none;
    overflow: auto;
    resize: none;
    margin-top: 30px;
    font-size: 24px;
    cursor: default;
    margin-left: 23px;

}


.imagem-vazio {
    position: absolute;
    width: 300px;
    height: 304px;
    left: 50px;
    top: 283px;

}

.textos {
    position: absolute;
    top: 600px;

    margin: 20px;

}

.textos h3 {

    display: flex;

    text-align: center;


    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    color: #343A40;
}

.textos p {
    width: 336px;
    height: 48px;


    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;


    color: #495057;

    margin-top: 15px;
    margin-bottom: 10px;
}

#aviso {
    color: #495057;

    display: flex;
    gap: 5px;

    width: 700px;
    height: 18px;



    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

#aviso input {

    margin-left: 283px;
}

.botoes {
    position:absolute;
    display: flex;
    margin-top: 45px;
    align-items: center;
    gap: 24px;
    width: auto;
    height: 67px;

}

#botao-1 {

    text-align: center;
    width: 328px;
    height: 67px;

    color: #FFFFFF;

    border: 0px solid;
    background: #0A3871;
    border-radius: 24px;
    cursor: pointer;

}

#botao-2 {
    text-align: center;
    width: 328px;
    height: 67px;

    background: #D8DFE8;

    color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    cursor: pointer;

}

#botao-3 {
   
    position: static;
    align-items: center;
    justify-content: center;
    width: 328px;
    height: 67px;
    margin: 30px 40px;
    background: #FFFFFF;
  
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;

}

#botao-4 {
    width: 80px;
    height: 24px;
    background: #D8DFE8;

    color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 8px;
    cursor: pointer;
}



footer {
    clear: both;
    position: static;
    display: block;
    background: #0A3871;
    overflow: hidden;
    margin-top: 35px;


    padding: 30px;
    text-align: center;

}

footer p {
    color: #FFFFFF;
    margin-top: 10px;
    font-size: 12px;
}

.texto-footer {
    color: #FFFFFF;

    padding-bottom: 20px;
    font-size: 20px;
    font-weight: lighter;
}

#icon-redes {

    display: inline-block;
    margin-bottom: 20px;

}

#icon-redes a {
    padding: 15px;

}